<!DOCTYPE html>
<html lang="en">
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#209CEE" />

  <link rel="icon" href="{{url_for('directory.static', filename='src/images/favicon.png')}}">
  <title>Predictive HVAC</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('directory.static', filename='src/css/directory.css')}}">
</head>

<body>
  <div id="app"></div>
  <!-- http://flask.pocoo.org/docs/0.12/api/#flask.url_for -->
  <script src="{{url_for('directory.static', filename='dist/dealer_portal.bundle.js')}}"></script>
</body>
</html>