  <!DOCTYPE html>
  <html>
    <head>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!--Google sign in-->
      <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    </head>

    <body>
      <div id="signinButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="349469004723-j9csi1hlhb1s0abuap24lo50mgvbkrhh.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>

      <div id="result"></div>

      <script>
        function signInCallback(authResult) {
          if (authResult['code']) {
            // TODO add confirmation of sign in request to prevent additional button clicks

            var myInit = {
              method: 'POST'
            }
            // TODO update url to either be modular or reflect end deployment
            fetch('/gconnect?state={{STATE}}', myInit).then(function(response) {
              if(response.ok) {
                var div = document.getElementById('result')
                var responseMessage = 'Login Successful!</br>' + response + '</br>Redirecting...'
                div.insertAdjacentHTML('beforeend', responseMessage)
              }
              throw new Error('Network response was not ok.')
            })
          }
        }
      </script>
    </body>
  </html>