<!DOCTYPE html>
<html>
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- sets the client id for google -->
  <meta name="google-signin-client_id" content="349469004723-j9csi1hlhb1s0abuap24lo50mgvbkrhh.apps.googleusercontent.com">

  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
  <div class="g-signin2"
    data-onsuccess="onSignIn"
    data-cookiepolicy="single_host_origin"
    data-redirecturi="localhost:8080/home">
  </div>

  {% if current_user.is_authenticated %}
    <h1>Hi {{ current_user.email }}!</h1>
  {% endif %}

  <div id="debug">{{debugIt}}</div>

  <div id="result"></div>

  <!-- http://flask.pocoo.org/docs/0.12/api/#flask.url_for -->
  <script>
    var logoutFirst = '{{ logoutFirst }}'
  </script>
  <script src="{{url_for('static', filename='src/js/login.js')}}"></script>
</body>
</html>